<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Apollo home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/leaflet.css}"/>
    <script type="text/javascript" th:src="@{/js/leaflet.js}"></script>

    <style>
    #mapid { height: 500px; }
</style>
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3">
            <h4>Apollo</h4>
            <div class="list-group">
                <a href="#section1" class="list-group-item list-group-item-action active" >Home</a>
                <a href="#section2" class="list-group-item list-group-item-action" >Friends</a>
                <a href="#section3" class="list-group-item list-group-item-action" >Boasia</a>
                <a href="#section4" class="list-group-item list-group-item-action" >Chronicles</a>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="mapid" ></div>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>
<script type="text/javascript" th:src="@{/js/defaultFeaturesJSON.js}" ></script>
<script type="text/javascript" th:src="@{/js/FeaturesReceiver.js}" ></script>
<script type="text/javascript" th:src="@{/js/home-map.js}" ></script>

</body>
</html>